// Colors
$color1: rgb(67, 70, 101);
$color1-dark: rgb(50, 54, 83);
$color2: rgb(209, 90, 54);
$color3: rgb(198, 229, 114);
$color4: rgb(96, 123, 125);
$color5: rgb(223, 234, 222);

// Fonts
$font-family: 'Nunito', Helvetica, Arial, sans-serif;

// Transition
$quick-ease: all 100ms ease;
$regular-ease: all 300ms ease;

// Transform

$press: scale(0.95) translateY(5%);

// Filters
$little-light: brightness(1.1);
$little-shadow: brightness(0.95);

// Border-radius

$little-radius: 0.25em;
$regular-radius: 0.5em;

// Padding

$button-padding: 0.25em 0.5em;
