// Colors
$color1: hsl(235, 20%, 33%);
$color1-dark: hsl(233, 25%, 26%);
$color1-light: hsl(235, 10%, 50%);
$color2: hsl(14, 63%, 52%);
$color2-strong: hsl(14, 85%, 40%);
$color3: hsl(76, 69%, 70%);
$color4: hsl(165, 30%, 50%);
$color5: hsl(115, 23%, 89%);

$color-good: hsl(175, 50%, 50%);
$color-bad: hsl(14, 60%, 50%);
$color-very-bad: hsl(5, 85%, 60%);
$color-attention: hsl(36, 80%, 50%);
$color-action: hsl(195, 90%, 40%);
$color-done: hsl(45, 100%, 60%);

// Fonts
$font-family: 'Nunito', Helvetica, Arial, sans-serif;

// Transition
$quick-ease: all 100ms ease;
$regular-ease: all 300ms ease;

// Transform

$press: scale(0.95) translateY(5%);

// Filters
$little-light: brightness(1.1);
$little-shadow: brightness(0.95);

// Border-radius

$little-radius: 0.25em;
$regular-radius: 0.5em;

// Padding

$button-padding: 0.25em 0.5em;
