/* Coolors Exported Palette - coolors.co/45486d-d15a36-c6e572-607b7d-dfeade */

/* HSL */
$color1: hsla(236%, 22%, 35%, 1);
$color2: hsla(14%, 63%, 52%, 1);
$color3: hsla(76%, 69%, 67%, 1);
$color4: hsla(184%, 13%, 43%, 1);
$color5: hsla(115%, 22%, 89%, 1);

/* RGB */
$color1: rgba(69, 72, 109, 1);
$color2: rgba(209, 90, 54, 1);
$color3: rgba(198, 229, 114, 1);
$color4: rgba(96, 123, 125, 1);
$color5: rgba(223, 234, 222, 1);
